nav ul { list-style-type: none;
         font-size: 35px;
         line-height: 150%;
  }

body {
background: #fdf5e6;
font-family: MetaWebPro, sans-serif;
}


.bullets {
    opacity: 0.5;
}

.btn {
    background-color: brown;
    color: black;
    width 120px;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    border-radius: 15px;
    border: 3px dashed blue;
}
     

